@if (isLoaded)
{
    @ChildContent
}
else
{
    // Loading screen for Workspace initiating application
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <h1>Workspace</h1>
        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
            <div class="spinner-border" role="status"></div>
            The application is loading...
        </div>
    </div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(300); // TODO actual initialization job
        isLoaded = true;
    }
}