@page "/warehouse/EfficiencySummary"
@inject IDialogService DialogService
@inject HttpClient httpClient

<MudItem xs="12">
    <MudPaper Elevation="0">
        <MudItem xs="12">
            <MudPaper Elevation="0">
                <_WarehouseNavBar />
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full">
                <h2><b>End of Summary</b></h2>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="0">
                <MudButton @onclick="OpenDialog" Variant="Variant.Outlined" Color="Color.Warning" StartIcon="@Icons.Filled.Search">
                    Search Date and sap
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudPaper>
</MudItem>

@code {
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    private void OpenDialog()
    {

        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<DialogSummary>("Enter details", closeOnEscapeKey);
    }
    //Table
    int? nullableInt;
    private bool bordered = false; 

}
