@page "/Warehouse"

<_WarehouseNavBar />

<MudGrid Class="mt-4">
    <MudItem xs="3">
        <MudTextField T="string" Label="Current Shift"></MudTextField>
    </MudItem>
    <MudItem xs="6"></MudItem>
</MudGrid>

<MudPaper MaxHeight="80vh" Class="overflow-y-auto overflow-x-hidden mt-10">
    <MudGrid Justify="Justify.Center" Spacing="5" Class="p-3">

        @for (int i = 0; i < 20; i++)
        {
            <MudItem sm="4" md="2" Class="mud-width-full justify-content-center">
                <div class="media-img">
                    <MudImage Src="https://www.pureingenuity.com/wp-content/uploads/2018/07/empty-profile-image.jpg" Fluid="true" Class="rounded-lg" />
                    <p>
                        <b>Known Name</b><br />
                        <b>SAP No</b>
                    </p>
                </div>
            </MudItem>
        }
    </MudGrid>
</MudPaper>


@code {
    int? nullableInt;
}
