@page "/Warehouse/UpcommingPage"
@inject NavigationManager UriHelper
@inject HttpClient Http
<_WarehouseNavBar />

<MudGrid Class="mt-4">
    <MudItem xs="3">
        <MudSelect @bind-Value="stringValue" Label="Current Shift" Placeholder="Please Select Your Shift" AnchorOrigin="Origin.BottomCenter" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Primary">
            @foreach (var shifttime in shiftCollection)
            {
                <MudSelectItem T="string" Value="@shifttime">@shifttime</MudSelectItem>
            }
        </MudSelect>
    </MudItem>    
    <MudItem xs="9"></MudItem>
</MudGrid>

<MudPaper MaxHeight="60vh" Class="overflow-y-auto overflow-x-hidden mt-10">
    <MudGrid Justify="Justify.Center" Spacing="5" Class="p-3">

        @for (int i = 0; i < 20; i++)
        {
            <MudItem sm="4" md="2" Class="mud-width-full justify-content-center">
                <div onclick=@checkvalue class="media-img">
                    <MudImage Src="https://www.pureingenuity.com/wp-content/uploads/2018/07/empty-profile-image.jpg" Fluid="true" Class="rounded-lg" />
                    <p>
                        <b>Known Name</b><br/>
                        <b>SAP No</b>
                    </p>
                </div>
            </MudItem>
        }
    </MudGrid>
</MudPaper>

@code {
    public List<VS_Employees_1> vS_Employees = new();
    VS_Employees_1 _vS_Employees = new VS_Employees_1();

    [Parameter]
    public int id { get; set; } = 3;

    public string? name { get; set; }    
    public int? integer { get; set; }
    private string stringValue { get; set; }

    public void checkvalue()
    {
        UriHelper.NavigateTo("Warehouse/Efficiency");
    }

    protected override async Task OnInitializedAsync()
    {
        //var responce = await Http.GetFromJsonAsync<VS_Employees>($"api/VS_Employees/filter?id={id}");
        //name = responce.FullName;         
    }

    private string[] shiftCollection = 
    { 
        "06:00:00 - 16:00:00", "07:30:00 - 17:30:00", "12:00:00 - 22:00:00",
        "18:00:00 - 04:00:00", "06:00:00 - 14:00:00", "14:00:00 - 22:00:00",
        "18:00:00 - 02:00:00", "22:00:00 - 06:00:00", "06:00:00 - 18:00:00",
        "18:00:00 - 06:00:00", "19:30:00 - 05:30:00", "09:00:00 - 19:00:00",
        "05:00:00 - 22:00:00"

    };
}
