

@*FeatureTopNavBar*@

<nav class="navbar navbar-expand-lg bg-opacity-100 pt-5 pl-5 mx-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@FeatureName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#FeatureTopNavBar" aria-controls="FeatureTopNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="FeatureTopNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Approval</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex mr-5 pr-5">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>







@code {
    public string FeatureName { get; set; } = "Tool Name";
}
