@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                <div class="mt-1 px-4">
                    <MudGrid>
                        <MudItem xs="11"></MudItem>
                        <MudItem xs="1" Class=""><Login_Logout_Toggle /></MudItem>
                    </MudGrid>
                    
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </ChildContent>
            <ErrorContent>
                <h1>@context.Message</h1>

                <button class="btn btn-primary" @onclick="() => errorBoundary.Recover()">Close</button>
            </ErrorContent>
        </ErrorBoundary>

    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@code {
    private ErrorBoundary errorBoundary;
    protected override void OnInitialized()
    {
        errorBoundary = new ErrorBoundary();
    }
}