@page "/warehouse/OperationDetails"

<title>OperationDetails</title>
<MudItem xs="12" >
    <MudPaper Elevation="0">
        <MudItem xs="12" >
            <MudPaper Elevation="0">
                <_WarehouseNavBar/>        
            </MudPaper>       
        </MudItem>
        <MudItem xs="12" >
            <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full">
                <h2>Operation Details</h2>            
            </MudPaper>       
        </MudItem>

        <MudItem xs="12">
            <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8">
                <MudItem xs="8">
                    <MudTextField T="String" Label="Operation Name" Variant="Variant.Outlined" />   
                    <MudDatePicker Label="Effective Data" Variant="Variant.Outlined" Editable="true"/>
                    <MudTextField @bind-Value="nullableInt" Label="Target" Variant="Variant.Outlined" />                                
                    <MudTextField @bind-Value="nullInt"  Label="Time Span" Variant="Variant.Outlined" />                                
                    <MudDatePicker Label="Cerate Date" Editable="true" @bind-Date="date" Placeholder="Select Date" Variant="Variant.Outlined" />
                    <MudTextField T="String" Label="Create By" Variant="Variant.Outlined" />
                    <br />
                    <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full"> 
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Submit</MudButton>
                    </MudItem>                   
                </MudItem>
            </MudPaper>
        </MudItem>

    </MudPaper>
</MudItem>
@code{

    int? nullableInt;
    int? nullInt;
    DateTime? date = DateTime.Today;

}