@page "/TodoList"
@using Workspace.Shared.Entities.SampleApp
@using sample.workspace.Client.Services

@inject ISampleTodoService sampleTodoService


<h3>TodoList</h3>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Todo</label>
    <input type="text" class="form-control" placeholder="Restart PC">
</div>


<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            @if (Todos == null)
            {
                <p><em>Hurray No Tasks..</em></p>
            }
            else
            {
                @foreach (var todo in Todos)
                {
                    <div>
                        <p>@todo.Title</p>
                    </div>
                }
            }
        </div>
        <div class="col">
        </div>
    </div>
</div>



@code {
    private SampleTodo? sampleTodo;
    List<SampleTodo> Todos = null;

    protected override async Task OnInitializedAsync()
    {
        Todos = await sampleTodoService.GetAllTodos();
    }
}
